.container {width:800px;}

header {width:800px; height:200px; background-image:url("http://img11.hostingpics.net/pics/21461572JS.jpg");}

.intro {padding:1em; width:800px;}

.title {padding:1em; font-size:30px;}

.pic {float:left; margin-left:2em; margin-right:2em;}

.citation {height:150px;}

.form {padding:1em; background-color:#1e8918;}

.slide1 {width:800px; height:650px; background:url("http://img4.hostingpics.net/pics/438110Atom.jpg") left 0 no-repeat fixed;}

.slide2 {width:800px; height:650px; background:url("http://img4.hostingpics.net/pics/834145Moudjahid.jpg") left 0 no-repeat fixed;}

footer {padding:1em; font-size:30px;}

 
